@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Space+Mono&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'PT Mono', monospace;
  touch-action: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.library {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(50deg, rgb(106, 250, 255), rgb(255, 159, 255));
}

header {
  height: min(75px, 11.5vh);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.35);
  z-index: 100;
}

header > h1 {
  font-size: 1.35rem;
  transition: 1.85s;
}

nav {
  gap: 18px;
}

.theme > img,
.log-in {
  cursor: pointer;
  transition: all .45s;
}

.theme > img:hover {
  transform: scale(1.2);
}

.log-in:hover {
  transform: scale(1.05);
}

.log-in {
  width: 80px;
  text-align: center;
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 5px 10px;
}

main {
  height: calc(100vh - 75px - 5vh);
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 24px;
  padding: 10px;
}

.add-new-book {
  place-self: center;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: all .45s;
}

.add-new-book:hover {
  transform: scale(1.1);
}

.books-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 32px;
  flex-wrap: wrap;
  padding: 8px 0;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.books-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.books-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.book {
  height: 460px;
  width: 300px;
  display: grid;
  grid-template-rows: 30px 80px 80px 60px 100px;
  place-items: center;
  row-gap: 16px;
  padding: 16px 16px 40px;
  border-radius: 5px;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, .35), -1px 0 4px rgba(0, 0, 0, .35);
  background-color: rgba(0, 0, 0, 0.04);
}

.controls-container {
  width: 105px;
  place-self: end;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls-container > img {
  cursor: pointer;
  transition: all .45s;
}

.controls-container > img:hover {
  transform: translateY(-4px);
}

.title-container,
.author-container,
.total-pages-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  word-break: break-word;
  text-align: center;
}

.author-container p:nth-of-type(2),
.total-pages-container p:nth-of-type(2) {
  font-weight: bold;
  font-size: 1.05rem;
}

.book-btns-container {
  gap: 16px;
}

.btn {
  width: 135px;
  padding: 11px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: .95rem;
  transition: all .45s;
}

.btn:hover {
  filter: brightness(1.15);
  transform: scale(1.05);
}

.read-btn {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.read-btn, .add-update-btn {
  background-color: black;
  color: white;
}

.remove-btn, .cancel-btn {
  background-color: crimson;
  color: white;
}

footer {
  height: 5vh;
  padding-bottom: 14px;
}

footer span:nth-of-type(1) {
  font-size: 2rem;
  vertical-align: sub;
}

.footer-text + a {
  margin-left: 10px;
  color: black;
}

.fa-github {
  transition: 1.5s;
}

.fa-github:hover {
  transform: rotate(720deg);
}

/* Form */
.form-container {
  display: none;
  justify-content: center;
  align-items: start;
  height: min(540px, 85vh);
  width: 295px;
  padding: 25px 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, .35), -1px 0 4px rgba(0, 0, 0, .35);
  background-color: white;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.form-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.form-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.add-book-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.form-control > label {
  font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="url"] {
  appearance: none;
  width: 210px;
  height: calc(1rem + 15px);
  border-radius: 2px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin-top: 8px;
  text-indent: 8px;
  font-family: 'PT Mono', monospace;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="url"]:focus {
  border: 1px solid black;
}

input[type="text"]:focus:not(:placeholder-shown):valid,
input[type="text"]:not(focus):not(:placeholder-shown):valid,
input[type="number"]:not(:focus):not(:placeholder-shown):valid,
input[type="url"]:not(:focus):not(:placeholder-shown):valid {
  border: 1px solid rgb(61, 219, 12);
}

input[type="text"]:not(:focus):invalid,
input[type="number"]:not(:focus):not(:placeholder-shown):invalid,
input[type="url"]:not(:focus):not(:placeholder-shown):invalid {
  border: 1px solid rgb(255, 53, 53);
}

.checkboxes-container * {
  cursor: pointer;
}

.checkboxes-container > div:nth-of-type(1) {
  margin-bottom: 8px;
}

.form-btns-container {
  gap: 18px;
}

/* Dark mode */
header.dark {
  background-color: black;
  color: white;
}

.log-in.dark {
  background-color: white;
  color: black;
  padding: 5px 10px;
}

.library.dark {
  background: linear-gradient(-125deg, rgb(0, 247, 255),rgb(255, 0, 255));
}

.footer-text.dark {
  color: white;
}

.footer-text.dark + a .fa-github {
  color: white;
}


@media (min-width: 600px) {
  header {
    padding: 10px 25px;
  }
  
  header > h1 {
    font-size: min(calc(1rem + 1.45vw), 2rem);
  }
  
  nav {
    gap: 24px;
  }
}